*{
    box-sizing: border-box;
}

/* header{
    width: 1887px;
} */

.header h1{
    width: 1900px;
    text-align: center;
}

nav{
    background-color: black;
    text-align: center;
    text-decoration: none;
    height: 200px;
    padding: 10px;
    width: 1900px;
}

nav ul{
    width: 100%;
}

nav li{
    color: greenyellow;
    list-style: none;
    display: inline-block;
}